//colors
$color-primary: #FA4A0C;
$color-secondary: #252B42;
$color-white: #fff;
$color-black: #000;
$color-grey-light: #FAFAFA;
$color-grey: #F6F6F6;
$color-grey-dark: #737373;
$color-copyright-text: #5C5C5C;
$color-download-text: #BDBDBD;

//shadow
$filter-drop-shadow-default: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
$filter-drop-shadow-darker: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.21));
$box-shadow-button-mobile: 0px 40px 40px rgba(0, 0, 0, 0.07);
$box-shadow-button-desktop: 0px 10px 30px rgba(183, 50, 39, 0.2);
